$clr-primary: #1e74fd;
$clr-secondary: #673bb7;
$clr-success: #10d876;
$clr-info: #2754e6;
$clr-warning: #fe9431;
$clr-danger: #e50202;
$clr-light: #f7f7f7;
$clr-dark: #343a40;

$clr-theme: #05f;
$clr-theme-shade: #09f;
$clr-theme-dark: #343a40;
